*{
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
}

.main{
    height:80vh;
    width: 12vw;
    border: 2px solid black;
    background-color: rgb(0, 255, 255);
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 50px;
    min-width:325px;
    border-radius: 15px;
}

#login{
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 80px;

}

.input{
    position:relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.input-use-pss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 140px;

}

input{
    padding: 8px 120px 8px 3px;
    border: 2px solid rgba(132, 0, 255, 0.719);
    background-color: #e2bfe3;
    color: black;
    font-weight: 400;
    border-radius:8px;
}
input:hover{
    background-color: white;
}

.password-input{
    margin-top: 30px;
}

button{
    background-color: #e2bfe3;
    margin-top: 30px;
    padding: 8px 60px 8px 60px;
    border-radius: 20px;
    border: 2px solid rgba(132, 0, 255, 0.719);
}
button:hover{
    transition: all;
    background-color:white;
}
button:checked{
    background-color: rgb(0, 136, 255);
}

.username{
    font-weight:600;
    color: rgb(0, 136, 255);
    padding-bottom:15px;
    margin-left: -230px
}
.password{
    font-weight: 600;
    color: rgb(0, 136, 255);
    margin-left: -230px;
    margin-top: 15px;
    margin-bottom: -10px;
}